// cart page start
.cartPage {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    .cartItem {
        width: 30%;
        height: 200px;
        border-bottom: 0.1px solid #00000050;
        display: flex;

        .cartImage {
            width: 30%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .cartItemDesc {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;


            .cartItemDetails {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 50px;

                .cartItemTitle {
                    font-size: 24px;
                    font-weight: 700;
                }

                .cartItemPrice {

                    span {
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
            }

            .cartItemQuantity {
                font-size: 18px;

                span {
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        .removeCard {
            font-size: 22px;
            align-self: flex-start;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #900;
        }
    }

    .cartTotals {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1px solid #00000050;
        padding: 10px 20px;

        .totalProduct {
            font-size: 18px;

            span {
                font-size: 22px;
                font-weight: 700;
            }
        }

        .totalPrice {
            font-size: 18px;

            span {
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
}