// shop page start
.shopPage{
    width: 100%;
    display: flex;
    flex-direction: column;

    .shopTitle{
        width: 100%;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        padding: 20px;
        user-select: none;
    }

    .cardList{
        width: 100%;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 20px 40px;

        .cardItem{
            width: calc(25% - 30px);
            height: 350px;
            background-color: #eee;
            border-radius: 10px;

            .cardImage{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .cardDetails{
                width: 100%;
                height: 50%;
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .cardHeader{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;

                    .cardTitle{
                        font-size: 23px;
                        font-weight: 800;
                    }

                    .cardPrice{
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                .cardInfo{
                    padding: 0 30px;
                    overflow-y: scroll;
                }

                a{
                    font-size: 18px;
                    text-align: center;
                    transition: all .3s ease;

                    &:hover{
                        color: #077;
                    }
                }

                .addCartBtn{
                    width: 50%;
                    margin: 0 auto;
                    outline: none;
                    background-color: #fff;
                    border: 0.1px solid #00000050;
                    border-radius: 5px;
                    padding: 5px 0;
                    font-size: 16px;
                    transition: all .3s ease;

                    &:hover{
                        background-color: #077;
                    }
                }
            }
        }
    }
}